
<style>
    .error-container{
        display:flex;
        justify-content:center;

    }

    .error-item{
        margin:50px;
    }
</style>


<div class="error-container">
    <div class="error-item">
    <img style="width:100px;height:100px" src="~/images/WrongData.png" />
    <h1 style="margin-top:30px">Wrong data</h1>
</div>
</div>
