@using DL.Entities
@model List<AppUser>

<table border="1">
    <tr>
        <th>AppUserId</th>
        <th>FirstName</th>
        <th>LastName</th>
        <th>Login</th>
        <th>Password</th>
        <th>Email</th>
        <th>PhoneNumber</th>
    </tr>
    @foreach (var user in Model)
    {
        <tr>
            <td>@user.FirstName</td>
            <td>@user.LastName</td>
            <td>Password</td>
            <td>@user.Email</td>
            <td>@user.PhoneNumber</td>
        </tr>
    }
</table>