@using ComputerClub.ViewModels
@model PaymentViewModel

<form method="post" asp-action="Edit">
    <input type="hidden" name="PaymentId" value="@Model.PaymentId">
    <div class="form-group">
        <label>Amount </label>
        <input asp-for="Amount" type="number" class="form-control"
               id="exampleInputPassword1"
               value="@Model.Amount" required>
    </div>
    <div class="form-group">
        <label>Payment method</label>
    <select asp-for="PaymentMethod"  class="form-control" 
       id="exampleInputPassword1">
       <option value="0"> 
           By card
       </option>
            <option value="0">
                By cash
            </option>
   </select>
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
</form>
