body {
    overflow-x: hidden;
}

.wrapper{
    min-width: 1200px;
    display: flex;
    justify-content: space-between;
}

.arrow-button {
    gap: 20px;
    background-color: white;
    font-size: 12px;
    padding: 5px 10px;
}


.comments-section{
    border-radius: 5px;
    background-color: gray;
    height: 450px;
    overflow-y: scroll;
    width: 700px;
    display:flex;
    flex-direction: column;
    align-items: center;
}

.commnets-title {
    font-family: Montserrat;
    font-weight: 500;
}

.comment {
    width: 90%;
    background-color: #696763;
    border-radius: 4px;
    padding-top: 20px;
}

.user-img {
    width: 50px; 
    height: 50px; 
    border-radius: 50%; 
    object-fit: cover; 
}


.day-card-container {
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.day-card {
    width: 400px;
    border-radius: 2px;
    height: 500px;
    background-color: #95989c;
    margin: 10px;
    transition: background-color 0.5s ease;
}

    .day-card:hover {
        background-color: #75787b;
    }

    .day-information{
        width: 100%;
        height: 15%;
        display:flex;
        align-items:center;
        flex-direction: column;
    }

#myBtn {
    background-color: #9C27B0;
    color: white;
    padding: 12px 16px;
    font-size: 18px;
    font-weight: bold;
    border: none;
    cursor: pointer;
    width: 180px;
}


.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}


.modal-content {
    position: relative;
    background-color: #888389;
    margin: auto;
    padding: 0;
    border: 5px;
    width: 50%;
    height: 500px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}

.modal-text {
    font-family: Montserrat;
    font-weight: 500;
}

@-webkit-keyframes animatetop {
    from {
        top: -300px;
        opacity: 0
    }

    to {
        top: 0;
        opacity: 1
    }
}

@keyframes animatetop {
    from {
        top: -300px;
        opacity: 0
    }

    to {
        top: 0;
        opacity: 1
    }
}


.close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

    .close:hover,
    .close:focus {
        color: #000;
        text-decoration: none;
        cursor: pointer;
    }

.modal-header {
    padding: 2px 16px;
    background-color: #888389;
    color: white;
}

.modal-body {
    padding: 2px 16px;
}

.modal-footer {
    padding: 2px 16px;
    background-color: #888389;
    color: white;
}

.button-82-pushable {
    margin-top: 20px;
    position: relative;
    border: none;
    background: transparent;
    padding: 0;
    cursor: pointer;
    outline-offset: 4px;
    transition: filter 250ms;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.button-82-shadow {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 12px;
    background: hsl(0deg 0% 0% / 0.25);
    will-change: transform;
    transform: translateY(2px);
    transition: transform 600ms cubic-bezier(.3, .7, .4, 1);
}

.button-82-edge {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 12px;
    background: linear-gradient( to left, hsl(340deg 100% 16%) 0%, hsl(340deg 100% 32%) 8%, hsl(340deg 100% 32%) 92%, hsl(340deg 100% 16%) 100% );
}

.button-82-front {
    display: block;
    position: relative;
    padding: 12px 27px;
    border-radius: 12px;
    font-size: 1.1rem;
    color: white;
    background: hsl(345deg 100% 47%);
    will-change: transform;
    transform: translateY(-4px);
    transition: transform 600ms cubic-bezier(.3, .7, .4, 1);
}

@media (min-width: 768px) {
    .button-82-front {
        font-size: 1.25rem;
        padding: 12px 42px;
    }
}

.button-82-pushable:hover {
    filter: brightness(110%);
    -webkit-filter: brightness(110%);
}

    .button-82-pushable:hover .button-82-front {
        transform: translateY(-6px);
        transition: transform 250ms cubic-bezier(.3, .7, .4, 1.5);
    }

.button-82-pushable:active .button-82-front {
    transform: translateY(-2px);
    transition: transform 34ms;
}

.button-82-pushable:hover .button-82-shadow {
    transform: translateY(4px);
    transition: transform 250ms cubic-bezier(.3, .7, .4, 1.5);
}

.button-82-pushable:active .button-82-shadow {
    transform: translateY(1px);
    transition: transform 34ms;
}

.button-82-pushable:focus:not(:focus-visible) {
    outline: none;
}

.order-information {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 40px;
    padding:0 20px;
    justify-content:center
}

.time-card{
    width: 100px;
    height: 50px;
    border-radius: 3px;
    background-color: rgb(0,0,0)
}

.time-text{
    color: white;
    display:flex;
    justify-content:center;
}

.button-14 {
    background-image: linear-gradient(#f7f8fa,#e7e9ec);
    border-color: #adb1b8 #a2a6ac #8d9096;
    border-style: solid;
    border-width: 1px;
    border-radius: 3px;
    box-shadow: rgba(255,255,255,.6) 0 1px 0 inset;
    box-sizing: border-box;
    color: #0f1111;
    cursor: pointer;
    display: inline-block;
    font-family: "Amazon Ember",Arial,sans-serif;
    font-size: 14px;
    height: 29px;
    font-size: 13px;
    outline: 0;
    overflow: hidden;
    padding: 0 11px;
    text-align: center;
    text-decoration: none;
    text-overflow: ellipsis;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
}

    .button-14:active {
        border-bottom-color: #a2a6ac;
    }

        .button-14:active:hover {
            border-bottom-color: #a2a6ac;
        }

    .button-14:hover {
        border-color: #a2a6ac #979aa1 #82858a;
    }

    .button-14:focus {
        border-color: #e77600;
        box-shadow: rgba(228, 121, 17, .5) 0 0 3px 2px;
        outline: 0;
    }

